---
layout: default
---

<style>
  @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ranchers&display=swap');
    .hero h1 {
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.0rem;
        text-align: center;
        width: 100%; 
        margin: 0 auto;
    }

    .typing-text {
      color: #38bdf8;
      font-weight: bold;
      font-style: normal;
    }

    .cursor {
      display: inline-block;
      margin-left: 2px;
      color: #38bdf8;
      animation: blink 0.7s infinite;
    }

    @keyframes blink {
      50% { opacity: 0; }
    }
    
</style>

<body>

  <div class="hero" sytle="text-align: center">
    <h1> Hello, I'm {{ page.yourname }}</h1>
    <h1 >I am a </h1> 
    <h1><span class="typing-text"></span><span class="cursor">|</span></h1>
    <p style="font-size: 1em; margin: 0 auto; text-align: center"><br>{{ site.description }}<br><br><p style="font-size: 0.75em;">{{ page. submessage }}</p></p>
  </div>

  {% if page.buttontext and page.buttonlink %}
  <br><div style="display: flex; width: 100%; margin: 0 auto; justify-content: center; align-items: center;">
    <a href="{{ site.baseurl }}{{ page.buttonlink }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
      <wa-icon name="angle-right"></wa-icon>
      <span>{{ page.buttontext }}</span> 
    </a>
  </div>
  {% endif %}
  
  <br><div style="display: flex; width: 100%; margin: 0 auto; justify-content: center; align-items: center;">
  {{ content }}
  </div><br>
  
  <script>
    const words = ["Developer", "Designer", "Freelancer"];

    let i = 0;
    let j = 0;
    let isDeleting = false;

    function typeEffect() {
      const display = document.querySelector(".typing-text");

      let currentWord = words[i];

      if (!isDeleting) {
        display.textContent = currentWord.substring(0, j + 1);
        j++;

        if (j === currentWord.length) {
          isDeleting = true;
          setTimeout(typeEffect, 1000);
          return;
        }
      } else {
        display.textContent = currentWord.substring(0, j - 1);
        j--;

        if (j === 0) {
          isDeleting = false;
          i = (i + 1) % words.length;
        }
      }

      setTimeout(typeEffect, isDeleting ? 80 : 120);
    }

    document.addEventListener("DOMContentLoaded", typeEffect);
  </script>

</body>
</html>
