---
layout: default
---

  <div style="width: 100%; margin: 0 auto; justify-content: center; align-items: center">
    <div class="glowing-box" style="margin: 0 auto; width: 100%;">
      <a href="{{ site.baseurl }}/">Home</a> > <a href="{{ site.baseurl }}/posts/">Posts</a> > {{ page.title }}
    </div><br><br>
    
    <div class="glowing-box" style="display: block; width: 100%;">
      <div style="display: flex"><div style="margin-top: auto; margin-bottom: auto;"><br><h1>{{ page.title }}</h1></div></div>
      <hr>
      <img src="{{ page.image }}"><br>
      <div style="text-align: center">{{ page.date | date: "%B %d, %Y" }}</div>
    </div>
  </div><br>
 <div class="post-content">
    {{ content }}
  </div>
</article>
