---
layout: default
---

  <div style="width: 100%; margin: 0 auto; justify-content: center; align-items: center">
    <div class="glowing-box" style="margin: 0 auto; width: 100%;">
      <a href="{{ site.baseurl }}/">Home</a> > <a href="{{ site.baseurl }}/projects/">Projects</a> > {{ page.projectname }}
    </div><br><br>
    
    <div class="glowing-box" style="display: block; width: 100%;">
      <div style="display: flex"><div style="margin-top: auto; margin-bottom: auto;"><br><h1>{{ page.projectname }}</h1></div></div>
      <hr>
      <img src="{{ page.projectimage }}"><br>
      <div style="text-align: center">{{ page.description }}</div>
    </div>
  </div><br>

<div style="display: flex; width: 100%; margin: 0 auto; justify-content: center; align-items: center">
  <div style="margin-left: auto;">
    {% if page.projectlink %}
    <a href="{{ page.projectlink }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
      <span><wa-icon name="github" family="brands" style="font-size: 1.1em"></wa-icon> GitHub</span> 
    </a> 
    {% endif %}
  </div>
  <div>&nbsp;</div>
  <div style="margin-right: auto;">
    {% if page.downloadlink %}
    &nbsp;
    <a href="{{ page.downloadlink }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
      <span><wa-icon slot="start" name="download"></wa-icon> Download</span> 
    </a>
    {% endif %}
    {% if page.multidownload %}
    &nbsp;
    <a href="javascript:void(0)" id="openModal" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
      <span><wa-icon slot="start" name="download"></wa-icon> Download</span> 
    </a>
    
    <div id="popup" class="popup">
    <div class="popup-content">
        <span id="closeModal">&times;</span>

        <h2>Choose Platform</h2>
        <div style="display: flex; width: 100%; margin: 0 auto; justify-content: center; align-items: center">
        <div><br>
          {% if page.multidlwindows %}
          <a href="{{ page.multidlwindows }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
            <span><wa-icon name="windows" family="brands" style="font-size: 1.1em"></wa-icon> Windows</span> 
          </a> <br><br>
          {% endif %}
          {% if page.multidllinux %}
          <a href="{{ page.multidllinux }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
            <span><wa-icon name="linux" family="brands" style="font-size: 1.1em"></wa-icon> Linux</span> 
          </a> <br><br>
          {% endif %}
          {% if page.multidlmacos %}
          <a href="{{ page.multidlmacos }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
            <span><wa-icon name="apple" family="brands" style="font-size: 1.1em"></wa-icon> macOS</span> 
          </a> <br><br>
          {% endif %}
          {% if page.multidlmacosx86 %}
          <a href="{{ page.multidlmacosx86 }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
            <span><wa-icon name="apple" family="brands" style="font-size: 1.1em"></wa-icon> macOS x86</span> 
          </a> <br><br>
          {% endif %}
          {% if page.multidlmacosarm %}
          <a href="{{ page.multidlmacosarm }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
            <span><wa-icon name="apple" family="brands" style="font-size: 1.1em"></wa-icon> macOS ARM</span> 
          </a>
          {% endif %}
        </div></div>
      </div>
    </div>
    {% endif %}
    {% if page.visitlink %}
    &nbsp;
    <a href="{{ page.visitlink }}" class="glowing-btn" style="margin: 0 auto; justify-content: center; align-items: center;">
      <span><wa-icon name="arrow-up-right-from-square" variant="solid"></wa-icon> Visit</span> 
    </a>
    {% endif %}
  </div>
  </div>
<br>

  {{ content }}
